 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Creative and hardworking Java Software Developer specialized in game development, crafting scalable and efficient frameworks. Background generating entertaining experiences through innovative game design. Result focused and passionate, with strengths facing technological challenges and delivering technical solutions. Enthusiastic about working in teams and thriving in collaborative environments.</p>
                </div>
            </div>
        </div>
    </section>
